<!DOCTYPE html>
<html lang="en">
<title>Computoms</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Quicksand:wght@300">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
body {font-family: "Quicksand", sans-serif; font-size: 15pt;}
.mySlides {display: none}
.banner { 
  /* The image used */
  background-image: url("images/WaterDrop.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 950px;
  width: 100%;
  }
  .logoBg {
    background-image: url("images/logo/logo32.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 40px;
    width: 100%;
  }
  h1 h2 {font-weight: bold;}
</style>
<body>

<!-- Navbar -->
<div class="w3-top">
  <div class="w3-bar w3-black w3-card logoBg">
    <a class="w3-bar-item w3-button w3-padding-large w3-hide-medium w3-hide-large w3-right" href="javascript:void(0)" onclick="myFunction()" title="Toggle Navigation Menu"><i class="fa fa-bars"></i></a>
    <a href="index.html" class="w3-bar-item w3-button w3-padding-large">HOME</a>
    <a href="map.html" class="w3-bar-item w3-button w3-padding-large w3-hide-small">BLOG</a>
    <a href="https://github.com/computoms" class="w3-bar-item w3-button w3-padding-large w3-hide-small">GITHUB</a>
  </div>
</div>

<!-- Navbar on small screens (remove the onclick attribute if you want the navbar to always show on top of the content when clicking on the links) -->
<!-- <div id="navDemo" class="w3-bar-block w3-black w3-hide w3-hide-large w3-hide-medium w3-top" style="margin-top:46px">
  <a href="#band" class="w3-bar-item w3-button w3-padding-large" onclick="myFunction()">BAND</a>
  <a href="#tour" class="w3-bar-item w3-button w3-padding-large" onclick="myFunction()">TOUR</a>
  <a href="#contact" class="w3-bar-item w3-button w3-padding-large" onclick="myFunction()">CONTACT</a>
  <a href="#" class="w3-bar-item w3-button w3-padding-large" onclick="myFunction()">MERCH</a>
</div> -->

<!-- Page content -->
<div class="w3-content" style="max-width:2000px;margin-top:46px">

  <!-- The Content Section -->
  <div class="w3-light-grey">
	  <div class="w3-center w3-padding-64 banner" style="min-height: 400px;" id="band">
      <h1><b>CompuToms</b></h1>
	    <p>Welcome to computoms.</p>
	  </div>
  </div>

  <div class="w3-container w3-content w3-padding-64" id="band">

    <h1>About Me</h1>
      <p>My name is Thomas Beck. I am a young physicit and computer scientist. I have always been intrigued and curious about how our surrounding Nature works. Curiosity is for me the driver to learn new things. Computer science is part of it and is one of the things that I discovered and learnt about out of curiosity.</p>

      <p>I am passionate about learning and solving problems. This led me to complete a masters' degree in Physics at the Swiss Federal Institute of Technology (EPFL). This gave me the technical background as well as the methodology to approach many kind of problems with rigor and analysis.</p>

      <h2>Hobbies</h2>
      <p>I am passionate about mountain sports. As such, I regularly practice mountaineering, skiing, climbing, hiking and trail running.</p>

      <img src="images/AboutMe.JPG" width="100%"/>
    </div>

  <div class="w3-light-grey">
    <div class="w3-container w3-content w3-padding-64" id="band">
        <h2>Projects</h2>

        <p>See the list of projects on my <a href="https://github.com/computoms">Github account</a>.</p>

        <p>The website is part of one of my projects, which develops a tools able to generate pages that are related via a graph-like structure; as you can see on the <a href="map.html">Blog</a> page.</p>
    </div>
  </div>

</div>

  
</body>
</html>

