<!DOCTYPE html>
<html lang="en">
<title>{{ post.title }}</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Quicksand:wght@300">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
body {font-family: "Quicksand", sans-serif; font-size: 15pt;}
.mySlides {display: none}
.logoBg {
    background-image: url("images/logo/logo32.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 40px;
    width: 100%;
  }
</style>
<body>

<!-- NavBar -->
<div class="w3-top">
  <div class="w3-bar w3-black w3-card logoBg">
    <a class="w3-bar-item w3-button w3-padding-large w3-hide-medium w3-hide-large w3-right" href="javascript:void(0)" onclick="myFunction()" title="Toggle Navigation Menu"><i class="fa fa-bars"></i></a>
    <a href="index.html" class="w3-bar-item w3-button w3-padding-large">HOME</a>
    <a href="map.html" class="w3-bar-item w3-button w3-padding-large w3-hide-small">BLOG</a>
    <a href="https://github.com/computoms" class="w3-bar-item w3-button w3-padding-large w3-hide-small">GITHUB</a>
  </div>
</div>

<!-- Navbar on small screens (remove the onclick attribute if you want the navbar to always show on top of the content when clicking on the links) -->
<!-- <div id="navDemo" class="w3-bar-block w3-black w3-hide w3-hide-large w3-hide-medium w3-top" style="margin-top:46px">
  <a href="#band" class="w3-bar-item w3-button w3-padding-large" onclick="myFunction()">BAND</a>
  <a href="#tour" class="w3-bar-item w3-button w3-padding-large" onclick="myFunction()">TOUR</a>
  <a href="#contact" class="w3-bar-item w3-button w3-padding-large" onclick="myFunction()">CONTACT</a>
  <a href="#" class="w3-bar-item w3-button w3-padding-large" onclick="myFunction()">MERCH</a>
</div> -->

<!-- Page content -->
<div class="w3-content" style="max-width:2000px;margin-top:46px">

	<!-- The Graph Section -->
  <div id="tour">
    <div class="w3-padding-64 w3-center">
      {{ post.graph }}
    </div>
  </div>

  <!-- The Content Section -->
  <div class="w3-light-grey">
	  <div class="w3-content w3-padding-64" id="band">
      <p class="w3-text-grey">{{ post.publication_date }}</p>
	    {{ post.content }}
	  </div>
  </div>

</body>
</html>

